* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://source.unsplash.com/1600x900/?cinema,movies') no-repeat center center/cover;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.btn {
    background: #e50914;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #b00610;
}

.signup {
    margin-top: 20px;
    font-size: 1rem;
}

.signup a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}

.signup a:hover {
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}